@import '~bootstrap/scss/bootstrap';

body{
    background-image: url('/resources/img/d-d-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.menu{
    background-color: #77a47f;
    height: 100%;
    width: 100%;
}

nav {
    height: 50px;

}

.change{
    color: white;
    padding: 0px;
    &:hover{
        font-weight: bold;
        color: #191011;

    }
}
